body {
    margin: 0;
  }
  
  .container {
    background-color: rgba(51, 51, 51, 0.349);
    padding: 1rem;
    margin-top: 7rem;
    margin-left: 30rem;
    margin-right:30rem;
  }
  .draggable {
    padding: 1.5rem;
    background-color: rgba(255, 255, 255, 0.747);
    border: 2px solid black;
    cursor: move;
  }
  
  .draggable.dragging {
    opacity: .5;
  }